*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  margin: auto;
  padding: 0px 30px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Стилизация списка с карточками*/

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
  width: 100%;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 294px;
  padding-right: 3px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.content__list-item {
  padding: 3px;
}

/* Главное видео*/

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 128px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Форма поиска под главным видео*/

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  min-width: 230px;
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  min-width: 225px;
  border-top: #fff solid 1px;
  border-right: 0;
  border-bottom: #fff solid 1px;
  border-left: 0;
  padding: 3px;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 2px;
}

/* Стилизация чекбоксов*/

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Стилизация кнопки и ее состояния*/

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
  min-height: 34px;
}

.more-button {
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

/* Заголовок списка карточек*/

.title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Карточка видео*/

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__video-card-title {
  overflow: hidden;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.testb {
  padding-top: 2px;
  padding-left: 6px;
}
